* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

h1 {
    text-align: center;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    width: 30em;
    margin-top: 5em;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logos img {
    width: 5em;
    margin-left: .5em;
}